@import url("/css/fonts.css");

body {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  background: #16161a;
  color: #fffffe;
  margin: 0;
  padding: 0;
}

a {
  color: #2cb67d;
  text-decoration: none;
  transition: all 0.5s;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}
 
button {
  color: #fffffe;
  background: #7f5af0;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
  transition: background 0.25s, color 0.25s;
}

button:hover,
button:focus,
button:active {
  background: #2cb67d;
  color: black;
}

.require-script {
  display: none;
}

.header {
  width: 100%;
  text-align: center;
}

.links {
  width: 100%;
  text-align: center;
}

.main {
  width: calc(100% - 2vw);
  height: fit-content;
  height: -fit-content;
  padding: 1vh 1vw;
}

@media (max-width: 550px) {
  .sock {
    width: 100%;
  }

  .img-sock {
    width: calc(100% - 2vw);
    padding: 1vh 1vw;
  }

  .info-sock {
    margin: 0;
    padding: 0;
  }

  .tagline-sock {
    border-radius: 4px;
    margin: 0;
    background: black;
    margin: 0.01vh 1vw;
    padding: 5px;
    width: calc(100% - calc(2vw + 10px));
  }
}

@media (min-width: 551px) {
  .sock {
    width: calc(20vw - 1vw);
    float: left;
  }

  .sock::after {
    content: "";
    clear: both;
    display: table;
  }

  .img-sock {
    width: calc(100% - 2vw);
    padding: 1vh 1vw;
  }

  .info-sock {
    margin: 0;
    padding: 0;
  }

  .tagline-sock {
    border-radius: 4px;
    margin: 0;
    background: black;
    margin: 0.01vh 1vw;
    padding: 5px;
    width: calc(100% - calc(2vw + 10px));
  }
}

@media (max-width: 1000px) {
  .sock {
    width: 33.3vw !important;
    float: left;
  }
}

#app {
  width: 100%;
  height: fit-content;
  height: -moz-fit-content;
}


.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}